@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&family=Poppins:wght@400;500&display=swap");
* {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    font-size: 15px;
}
a.nav-custome:hover {
    color: blue !important;
}

.btn-custome {
    background-color: #6610f2;
    border: none;
    border-radius: 5px;
}
.btn-custome a {
    color: white;
    font-size: 15px;
    padding-right: 12px;
    padding-left: 5px;
}
#hero.jumbotron {
    background-color: white;
    color: black;
}
.custome-p {
    line-height: 1.9;
}
p {
    line-height: 1.9;
}
.custome-about {
    line-height: 1.9;
    margin-top: 40px;
}
#about.jumbotron {
    margin-top: -40px;
}

.bg-custome {
    background-color: #fff;
    box-shadow: 5px 10px 54px 1px rgba(0, 0, 0, 0.1);
}

.hero-title {
    margin-top: 100px;
}
.jumbotron-custome {
    border-radius: 30px;
    background-color: white;
    box-shadow: 5px 10px 54px 1px rgba(0, 0, 0, 0.1);
}
#tech li {
    display: inline;
    list-style: none;
    padding: 40px;
}
#footer li {
    display: inline;
    list-style: none;
    padding: 5px;
}
#tech img {
    width: 50px;
}

#about img.gambar {
    width: 30px;
    margin-top: 5px;
}
#about li {
    display: inline;
    list-style: none;
}
iframe {
    border-radius: 20px;
    width: 845px;
    height: 415px;
}

#hapus a {
    margin-left: 400px;
}
@media screen and (max-width: 365px) {
    iframe {
        border-radius: 20px;
        width: 320px;
        height: 215px;
    }
}
@media screen and (max-width: 768px) {
    #tech img {
        width: 40px;
    }
    #hapus a {
        margin-left: 34 0px;
    }
    #tech li {
        display: inline;
        list-style: none;
        padding: 20px;
    }
    iframe {
        border-radius: 20px;
        width: 460px;
        height: 215px;
    }
}
